# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/
.env

# Ignore local configuration and secrets
config/config.yaml
cache/

# Ignore logs (including rotations)
octopus_logger.log*

# Ignore venvs
.venv/

# Ignore system files
.DS_Store
*.swp
