[Unit]
Description=Octopus Logger Service
After=network.target

[Service]
Type=simple
ExecStart=/home/darren/octopus-logger/.venv/bin/python /home/darren/octopus-logger/src/main.py
WorkingDirectory=/home/darren/octopus-logger
Restart=always
RestartSec=10
User=darren
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
